#### ‚ùáÔ∏è Setup

In [1]:
import pandas as pd

#### ‚ùáÔ∏è Reading & Writing

In [2]:
# Reading from a csv
df_penguins = pd.read_csv('penguins.csv')
df_penguins.head(2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female

In [3]:
# Writing to a csv
df_penguins.to_csv('penguins.csv', index=False)

#### ‚ùáÔ∏è Shuffling and Sampling

In [4]:
# Note: frac determines the fraction of items to return
# Here we are shuffling entire data frame, So frac= 1
df_shuffled = df_penguins.sample(frac=1)
# Notice that the records at top have changes after shuffling üëá 
df_shuffled.head(2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
267,Gentoo,Biscoe,50.5,15.9,225.0,5400.0,Male
302,Gentoo,Biscoe,47.4,14.6,212.0,4725.0,Female

In [5]:
# Sampling: Let's sample half the records
df_sampled = df_penguins.sample(frac=0.5)
print(f'Length of original df: {len(df_penguins)}; Length sampled_df: {len(df_sampled)}')

Length of original df: 344; Length sampled_df: 172

#### ‚ùáÔ∏è Hope you enjoyed reading! üìñ 
#### ‚ùáÔ∏è Cheers!! üçª

#### ‚ùáÔ∏è Setup

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'A': [5,6,3,4], 'B': [1,2,3,5]})
df

   A  B
0  5  1
1  6  2
2  3  3
3  4  5

#### ‚ùáÔ∏è Selecting all the rows where A is in [3, 6]

In [3]:
df[df['A'].isin([3, 6])]

   A  B
1  6  2
2  3  3

#### ‚ùáÔ∏è To get the opposite use ~:

In [4]:
df[~df['A'].isin([3, 6])]

   A  B
0  5  1
3  4  5

#### ‚ùáÔ∏è Hope you enjoyed reading! üìñ 
#### ‚ùáÔ∏è Cheers!! üçª